.cta-btn {
  --border-radius: 8px;

  .logo {
    position: absolute;
    left: -10px;
    background: #fff;
    height: 2em;
    width: 2em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    ion-icon {
      margin-left: 0.1em;
      transition: all 0.5s;
      color: #2ca0d9;
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  ion-label {
    margin-left: 30px;
  }

  &:hover {
    .logo {
      width: 118%;
      border-radius: 0.5em;
      ion-icon {
        transform: rotate(360deg);
      }
    }
  }
}
