.playstore-button {
  border: 2px solid var(--ion-color-dark);
  --border-radius: 30px;
  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
  transition: all 0.2s ease;

  &:hover {
    background-color: transparent;
    color: var(--ion-color-dark);
  }
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;

  .text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .text-2 {
    font-weight: 600;
  }
}
