ion-card {
  max-width: 412px;
  border-radius: 20px;
  background: linear-gradient(
    to top right,
    var(--ion-color-primary),
    var(--ion-color-dark-tint)
  );
  border: 1px solid var(--ion-color-dark);
  ion-card-header {
    ion-card-subtitle {
      color: var(--ion-color-secondary);
      font-size: 14px;
    }
    ion-card-title {
      font-size: 26px;
      line-height: 26px;
      color: var(--ion-color-primary-contrast);
    }
  }

  ion-card-content {
    ion-label {
      color: var(--ion-color-light-shade);
      font-size: 13px;
    }

    .buttons {
      margin-top: 10px;
      .applestore-button {
        margin-left: 10px;
      }
    }
  }

  ion-card-subtitle,
  ion-card-title,
  ion-card-content {
    font-weight: 600;
  }
}
